/********************************************
** SECTION PROMO
*********************************************/

.section-promo {
    background-color: $pink;
    height: 550px;
    overflow: hidden;
    position: relative;
    
    h2 {
        margin-top: 20px;
        text-align: left;
        color: $white;
        margin-bottom: 20px;
        line-height: 145%;
        letter-spacing: 2px;
        word-spacing: 5px;
        font-size: 200%;
    }
    
    .bag {
        position: absolute;
        right: -0.5%;
        bottom: -14%;
        width: 550px;
        @include imgWidth;
//        transition: all 0.4s ease-in-out;
    }
    
    .sunglasses {
        position: absolute;
        left: 42%;
        bottom: 5%;;
        transform: translate(-50%, 0);
        width: 200px;
        @include imgWidth;
    }
    
    .lipstick {
        position: absolute;
        top: 34%;
        left: 50%;
        transform: translate(70%, 0);
        width: 75px;
        @include imgWidth;
    }
    
    .lipstick-package {
        width: 32px;
        @extend .lipstick;
        top: 28%;
        transform: translate(650%, 0);
    }
    
}













